* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
}

.app {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.panel {
  width: 25%;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.panel h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.panel h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.blue {
  background: linear-gradient(135deg, #2b6cb0, #3182ce);
  color: white;
}

.red {
  background: linear-gradient(135deg, #c53030, #e53e3e);
  color: white;
}

.panel input {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-bottom: 10px;
}

/* BUTTON */
.panel button {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #ffd700;
  color: #000;
  font-weight: bold;
}

.panel button:active {
  transform: scale(0.97);
}

.panel p {
  margin-top: 12px;
  font-size: 18px;
}

.rope-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video{
  width: 500px;
}

.timer {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rope {
  font-size: 36px;
  transition: transform 0.4s ease;
  user-select: none;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }

  .panel {
    width: 90%;
    margin-bottom: 15px;
  }

  .rope-area {
    width: 100%;
    margin: 20px 0;
  }
}
